ChaosandDeduction_clone_[0-9]*/
ChaosandDeduction/Assets/Adobe/Substance3DForUnity/Runtime/Plugins/sbsario.dll
ChaosandDeduction/Assets/Adobe/Substance3DForUnity/Runtime/Plugins/substance_d3d11pc_blend.dll
ChaosandDeduction/Assets/Adobe/Substance3DForUnity/Runtime/Plugins/substance_linker.dll
ChaosandDeduction/Assets/Blake/SingleObjects/Materials.meta
ChaosandDeduction/Assets/Blake/SingleObjects/Materials/Campfire-Cauldron.mat
ChaosandDeduction/Assets/Blake/SingleObjects/Materials/Campfire-Cauldron.mat.meta
